---
import Head from "@components/stalux/layout/head.astro";
import "@styles/base/init.css";
const props = Astro.props as Props;

export interface Props {
  title: string;
  description: string;
}

const bgModule = await import("../assets/background/pattern.png");
const initialBg = bgModule.default.src;
---

<!doctype html>
<html lang="zh-CN">
  <Head title={props.title} description={props.description} />
  <body
    class="stalux-root dark"
    data-stalux-bg-layer="a"
    data-stalux-bg-index="0"
  >
    <div
      class="bg-layer bg-a"
      style={`background-image: url('${initialBg}'); opacity: 1;`}
      aria-hidden="true"
    >
    </div>
    <div class="bg-layer bg-b" aria-hidden="true"></div>
    <main class="stalux-main">
      <slot />
    </main>
  </body>
</html>

<style></style>
